@mixin queryData {
  html[data-test='true'] & {
    @content;
  }
}

/* full size */
@mixin fullsize() {
  width: 100%;
  height: 100%;
}

/* full cover */
@mixin fullcover() {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* align center */
@mixin alignCenter() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ellipsis */
@mixin ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin RWD($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin RWDM($width) {
  @media (min-width: $width) {
    @content;
  }
}

@function assetsUrl($url) {
  @return url('#{$cdn}/#{$url}');
}

@mixin activeScale {
  transition: transform 0.2s, filter 0.2s;
  &:active {
    transform: scale(0.95);
    filter: brightness(0.5);
  }
}

@mixin noTouchOrSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

/* media query */
@mixin rwd($deviceSize) {
  @media screen and (max-width: #{$deviceSize}px) {
    @content;
  }
}
@mixin rrwd($deviceSize) {
  @media screen and (min-width: #{$deviceSize}px) {
    @content;
  }
}

@mixin position(
  $pos,
  $top: null,
  $right: null,
  $bottom: null,
  $left: null,
  $z-index: null
) {
  position: $pos;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  z-index: $z-index;
}

@mixin withRegion($region) {
  html[data-region='#{$region}'] & {
    @content;
  }
}

@mixin svgBorder($width: null, $height: null, $color: #c2c1c1) {
  width: calc($width * 1rem / 100);
  height: calc($height * 1rem / 100);
  $round: #{($width + $height) * 2};
  $name: #{'svgAnimation' + ($width + $height) * 2};
  path {
    // fill: transparent;
    fill: none;
    stroke: $color;
    // stroke-width: 0.01rem;
    stroke-width: 1px;
    stroke-linecap: round;
    stroke-dasharray: $round;
    animation: $name 2.5s ease 1 backwards;
    @keyframes #{$name} {
      0% {
        stroke-dashoffset: $round;
      }
      100% {
        stroke-dashoffset: 0;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@mixin fadeIn($second) {
  animation: fadeIn $second;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 40%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@mixin fadeInUp($second) {
  animation: fadeInUp $second;
}
